<div class="content" role="main">

<!--
    <button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">
      Do it!
    </button>
    
   asd
  
  
   <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Card header
      </p>
      <button class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </header>
  </div>
  -->

  {{ products}}
  
  </div>