<div class="container is-fullhd" role="main">



    <section class="hero is-link">
    <div class="hero-body">
        <p class="title">
            Shopping Cart
        </p>
    </div>
    </section>



    <div class="container">
        <section class="section products-table">
            <div class="searcher">
                <div class="searcherF">
                    <input class="input is-info" type="text" (keydown)="searchItem($event)"  />
                </div>
                <div class="searcherS">
                    <button style="padding:0;" class="button is-info" (click)="clearSearch()">X</button>
                </div>
            </div>           
            <div id="shopping_cart">
                <div>
                    <!-- Items -->
                    <div class="columns product-row notification is-light" *ngFor="let item of currentItems" >
                        <div class="column product-image selectedtag" (click)="showDetailItem(item)">
                            <img src="{{item.image}}">
                        </div>
                        <div class="column is-half product-title ">
                            <h2 class="selectedtag" (click)="showDetailItem(item)">{{item.title}}</h2>
                            <h3><b>Available:</b> {{ item.rating.count }}</h3>
                        </div>
                        <div class="column center-container">
                            <span class="mobile-table-heading"> <b> Quantity</b></span>
                            <input class=" input is-normal" type="number" name="quantity" min="1" max="100"
                                [value]="item.quantity" (change)="updateItem(item, $event)">
                        </div>
                        <div class="column center-container">
                            <span class="mobile-table-heading"> <b>Price</b></span> <br/>${{item.price}}
                        </div>
                        <div class="column center-container">
                            <span class="mobile-table-heading"> <b>Total</b></span> <br/>${{  item.quantity*item.price }}
                        </div>
                        
                    </div>
                    <app-subtotal [subtotal]="subtotal"></app-subtotal>
                </div>
            </div>
        </section>
    </div>
</div>