<section class="columns checkout">
    <div class="column is-four-fifths"></div>
    <div class="column submit-form">
        <div id="total">
            <span class="total">Subotal ${{ subtotal}} </span>
        </div>
        <div class="field is-grouped">
            <p class="control">
                <button  class="button is-link" href="#" (click)="checkout()">Checkout</button>
            </p>
        </div>
    </div>
</section>



<label #termsConditions class="checkbox" style="visibility: hidden;">
    <input type="checkbox">
    I agree to the <a href="https://www.macroplastics.com/images/docs/Terminos-y-Condiciones-de-Venta.pdf">terms and conditions</a>
</label>

